html {
    font-size: 12pt;
    font-weight: 400;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 3;
    background-color:#a8d3d4;
    max-width:1000px;
    text-align: justify;
  }